PORT=4000
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/music_recommender
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
SQS_RECOMMENDATION_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/recommendation-jobs
